html{
  scroll-snap-type: y mandatory;
}

.App{
  background: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.appVideos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;

}

/* Esconde a scroll bar no chrome, safari e opera */

.appVideos::-webkit-scrollbar{
  display: none;
}

/* Esconde a scroll bar no IE, Edge, Firefox */

.appVideos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 440px){
  .appVideos{
    width: 100%;
    height: 100vh;
  }



}